<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sample Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/style/main.css}" href="../../style/main.css" />
</head>
<body>
    <h1 th:text="'Hello, ' + ${name} + '!'" />
</body>
</html>