<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sample Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/style/bootstrap-grid.min.css}" href="../../style/bootstrap-grid.min.css" />
    <link rel="stylesheet" th:href="@{/style/bootstrap-reboot.min.css}" href="../../style/bootstrap-reboot.min.css" />
    <link rel="stylesheet" th:href="@{/style/bootstrap.min.css}" href="../../style/bootstrap.min.css" />
</head>
<body>
<div class="alert alert-success" role="alert">
    <h1>My ToDo list</h1>
    <ul th:each="todo : ${todos}" class="list-group">
        <li class="list-group-item">
        <span class="badge badge-primary" th:text="${todo.title}">title</span> <span th:text="${todo.detail}">detail</span></li>
  </ul>    
</div>
</body>
</html>